{% extends "base.html" %}

{% load staticfiles %}

{% load markup %}
{% load base_tags %}

{% block title_prefix %}{{ article.headline }} | {% endblock %}

{% block header_extra %}
	<link rel="stylesheet" type="text/css" href="{% static 'rst.css' %}">
{% endblock %}

{% block content_container %}

<h1 class="article_headline">{{ article.headline }}</h1>

{% block article_top %}{% endblock %}

{% if article.sub_articles_list_top %}
    <div class="sub_articles_list">
        {% subarticles_list article.visible_sub_articles  %}
    </div>
{% endif %}

{% block article_pre_content %}{% endblock %}

<div class="content">
    {{article.content | restructuredtext }}
</div>

{% block article_post_content %}{% endblock %}

{% if article.sub_articles_list_bottom %}
    <div class="sub_articles_list">
        {% subarticles_list article.visible_sub_articles %}
    </div>
{% endif %}

{% if article.attachments.count > 0 %}
    <div class="attachements">
        <p>Attachments:</p>
        {% for attachment in article.attachments.all %}
            {{ attachment }}
        {% endfor %}
    </div>
{% endif %}

{% block article_bottom %}{% endblock %}

{% endblock content_container %}
