{% extends "base.html" %}

{% load staticfiles %}

{% load markup %}
{% load base_tags %}

{% block title_prefix %}{{ article.headline }} | {% endblock %}

{% block header_extra %}
	<link rel="stylesheet" type="text/css" href="{% static 'rst.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'pygments.css' %}">
{% endblock %}

{% block content_container %}

<h1 class="article_headline">{{ article.headline }}</h1>

{% block article_top %}{% endblock %}

{% if article.sub_articles_list_top %}
    <div class="sub_articles_list">
        {% subarticles_list article.visible_sub_articles  %}
    </div>
{% endif %}

{% block article_pre_content %}{% endblock %}

<div class="content">
    {{article.content | restructuredtext }}
</div>

{% block article_post_content %}{% endblock %}

{% if article.sub_articles_list_bottom %}
    <div class="sub_articles_list">
        {% subarticles_list article.visible_sub_articles %}
    </div>
{% endif %}

{% if article.attachments.count > 0 %}
    <div class="attachments">
        <p>Attachments:</p>
        {% for attachment in article.attachments.all %}
            <p><a href="{{ attachment.data.url }}"
                {% if attachment.description %}
                title="{{ attachment.description }}"
                {% endif %}>{{ attachment.name }}</a></p>
        {% endfor %}
    </div>
{% endif %}

{% if article.url %}
    <a  class="url"
        href="{{ article.url }}"
        target="_blank"
        title="external URL page for '{{ article.headline }}'">
            {{ article.url }}
    </a>
{% endif %}

{% block article_bottom %}{% endblock %}

{% endblock content_container %}
