{% extends "article.html" %}

{% load photography_tags %}

{% block article_post_content %}

<link href="/static/photography.css" type="text/css" media="all" rel="stylesheet" />

<table id="photography_previews"><tr>
{% for media in article.content_media.all %}
	<td>
		<a	href="{{ article.get_absolute_url }}{{ media.pk }}/{% filename media.data.url %}"
			style="	background-image: url({{ media.data.url }});">
		</a>
	</td>
	{% if forloop.counter|divisibleby:table_size %}
		</tr><tr>
	{% endif  %}
{% endfor %}
</tr></table>

{% if selected_image %}
	<style>
	#root_container {
		background-color: rgba(0, 0, 0, 0.5);
		border: 1px solid #ccc;
	}
	#selected_image {
		background-image: url({{ selected_image.data.url }});
	}
	</style>
	<div id="selected_image"></div>
{% endif %}

{% endblock %}
