{% load rstify_tags %}

{% if sub_articles.count %}
    <ul>
    {% for sub_article in sub_articles %}
        <li>

            {% if sub_article.needs_link %}
                <a  class="headline"
                    href="{{ sub_article.get_absolute_url }}">
                        {{ sub_article.headline }}
                </a>
            {% else %}
                <span class="headline">
                    {{ sub_article.headline }}
                </span>
            {% endif %}

            <div class="teaser">
                {{ sub_article.teaser | rstify  }}
            </div>
            {% if sub_article.url %}
                <a  class="url"
                    href="{{ sub_article.url }}"
                    target="_blank"
                    title="external URL page for '{{ sub_article.headline }}'">
                        {{ sub_article.url }}
                </a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}
