{% extends "base.html" %}

{% load markup %}
{% load base_tags %}

{% block title_prefix %}{{ article.headline }} | {% endblock %}

{% block content_container %}

{% if article.sub_articles_list_top %}
	<div class="sub_articles_list">
		{% subarticles_list article.visible_sub_articles  %}
	</div>
{% endif %}

<div class="content">
	{{article.content | restructuredtext }}
</div>

{% if article.sub_articles_list_bottom %}
	<div class="sub_articles_list">
		{% subarticles_list article.visible_sub_articles %}
	</div>
{% endif %}

{% if article.attachments.count > 0 %}
	<div class="attachements">
		<p>Attachments:</p>
		{% for attachment in article.attachments.all %}
			{{ attachment }}
		{% endfor %}
	</div>
{% endif %}

{% endblock content_container %}
