{% load staticfiles %}
{% load base_tags %}
{% load configuration_tags %}

<!DOCTYPE html>
<html>

<head>

<title>
	{% block title_prefix %}{% endblock %}
	Lukas Pirl
	{% block title_postfix %}
		- IT | audio | photo
	{% endblock %}
</title>

<meta name="robots" content="all">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta	name="description"
		content="Lukas Pirl's Web site - {% get_configuration_str 'uvp' %}">
<meta name="author" content="Lukas Pirl">

<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css"
		href="{% static 'ie_adjustments.css' %}">
<![endif]-->

</head>

<body>

	{% generate_squares %}

	<div id="main_container">

		<div id="logo">
			<a	id="logo_name"
				href="{% url 'main.views.index' %}"
				title="home">
					Lukas Pirl
			</a>
			<a	id="logo_text"
				href="{% url 'main.views.index' %}"
				title="home">
				{% get_configuration_str 'uvp' %}
			</a>
		</div>

		{% generate_menu vertically_center_menu %}
	
		{% block content %}{% endblock %}
		
	</div>
</body>

</html>
