{% extends "article.html" %}

{% block article_post_content %}

{{ form.media }}

<form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form.visible_fields %}
        <div>
            {% for error in field.errors %}
                {% if forloop.first %}<span class="error">{% endif %}
                {{ error }}
                {% if forloop.last %}</span>{% endif %}
            {% endfor %}
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}
    <div>
        <button type="submit" role="button">
            send
        </button>
    </div>
</form>

{% endblock %}
