{% if sub_articles.count %}
	<ul>
	{% for sub_article in sub_articles %}
		<li>
			<a	class="headline"
				href="{% url 'main.views.article' sub_article.slug %}">
				{{ sub_article.headline }}
			</a>
			<p class="teaser">
				{{ sub_article.teaser }}
			</p>
			{% if sub_article.url %}
				<a	class="url"
					href="{{ sub_article.url }}"
					target="_blank"
					title="external URL for {{ sub_article.headline }}">
						{{ sub_article.url }}
				</a>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
